name: Working Dirs and Shells
on: [push]
jobs:
  display-wd-info:
    runs-on: ubuntu-latest
    steps:
        - name: Display Working Directory and List Files
          run: |
            pwd
            ls -a
            echo $GITHUB_WORKSPACE
            echo $GITHUB_SHA
            echo $GITHUB_REPOSITORY
  display-wd-info-windows:
    runs-on: windows-latest
    steps:
        - name: Display Working Directory and List Files
          run: |
            pwd
            ls -a
            pwd
            echo $GITHUB_WORKSPACE
            echo $GITHUB_SHA
            echo $GITHUB_REPOSITORY